[Desktop Entry]
Version=1.1
Type=Application
Icon=system-log-out
Exec=xfce4-session-logout
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Log Out...
Name[tr]=Oturumu Kapat...
Comment=Log out, restart, shutdown or switch user
Comment[tr]=Oturumu kapat, yeniden başlat, bilgisayarı kapat ya da kullanıcı değiştir
