[Desktop Entry]
Version=1.1
Type=Application
Icon=system-search
Exec=xfce4-appfinder
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
StartupNotify=true
Name=Search...
Name[tr]=Ara...
Comment=Search and run applications
Comment[tr]=Uygulama listesinde arama yap ve uygulamayı çalıştır
