[Desktop Entry]
# Override desktop file in /usr/share/applications to hide from menu
Hidden=true

Version=1.0
Type=Application
Exec=xfce4-session-logout
Icon=xfsm-logout
StartupNotify=false
Terminal=false
Categories=System;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Log Out
Name[tr]=Çıkış
Comment=Log out of the Xfce Desktop
Comment[tr]=Xfce Masaüstünden çık
