.devbox
.venv
.build
.task

build
src

yocto/**
!yocto/repos.yml
!yocto/Taskfile.yml

.distrobox/**
!.distrobox/.distroboxrc
!.distrobox/.motd
!.distrobox/.profile
!.distrobox/.bashrc
!.distrobox/.bash_aliases
!.distrobox/.ssh
!.distrobox/.ssh/config
!.distrobox/.bash_completion.d
!.distrobox/.bash_completion.d/*
!.distrobox/.bash_completion

mimeinfo.cache
icon-theme.cache
utils/.env
