[Unit]
Description=Configure system after first systemd init
After=basic.target

[Service]
ExecStart=/usr/local/bin/gem-first-boot
Type=oneshot
User=root

[Install]
WantedBy=multi-user.target
